@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nanum+Pen+Script&display=swap')

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
*{margin: 0;padding: 0;box-sizing: border-box; font-family: "Nanum Pen Script", cursive;}

:root{
    color-scheme: light dark;
}
body{
    background-color: light-dark(rgb(255, 205, 148), rgb(90, 39, 39));
    color: light-dark(rgb(206, 57, 52), black);
}
/*@media (prefers-color-scheme: dark){
    body{
        background-color: rgb(90, 39, 39);
        color: black;
    }
}*/
#titulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
    border: 5px solid rgb(245, 245, 220);
    background-color: pink;
    align-items: center;
}
#ratita{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(196, 121, 121);
    margin: 20px;
}
#c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    width: 10%;
    height: 90%;
    margin: 20px;
}
ul{
    width: 300px;
    writing-mode: horizontal-tb;
    border: 8px solid white;
}
#c2{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    width: 10%;
    height: 90%;
    margin: 10px;
}
#abrazo{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    width: 40%;
    height: 100%;
    margin: 10px;
}
#trauma{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    width: 50%;
    height: 100%;
    margin: 10px;
}
#uwu{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
    border: 5px solid rgb(248, 248, 210);
    background-color: rgb(230, 159, 170);
    align-items: center;
}
a{
    border: 10px solid white;
    align-items: center;
    background: wheat;
    color: rgb(133, 119, 57);
    width: 200px;
    height: 30px;
}

#parrafito{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(245, 245, 220);
    background-color: pink;
}
#chingue{
    border: 6px solid purple;
}
#bb{
    border: 3px solid purple;
    background-color: blueviolet;
}